body {
    background-color: #ffffff
}

.vh-60 {
    height: 60vh;
}

.vh-30 {
    height: 30vh;
}

.maceta{
    width: 200px;
    height: 200px;
    transform: translateY(-12vh);
}

.plant{
    width: 200px;
    height: 200px;
    transform: translateY(-8vh);
}

.img_cactus{
    height: 200px;
}

.img_girasol{
    height: 200px;
}

.img_helecho{
    height: 200px;
}

.table-registers {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 76px;
    left: 20px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal > .container {
    display: inline-block;
    position: relative;
    min-width: 400px;
    min-height: 450px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2px;
}
