body {
    min-height: 100vh;
}

.main {
    height: 100%;
    background-image: url(assets/img/cesped.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.vh-60 {
    height: 60vh;
    background-image: url(assets/img/fondo_dia.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.vh-30 {
    height: 30vh;
}

.maceta{
    width: 200px;
    height: 200px;
    transform: translateY(-12vh);
}

.plant{
    width: 200px;
    height: 200px;
    transform: translateY(-8vh);
}

.img_cactus{
    height: 200px;
}

.img_girasol{
    height: 200px;
}

.img_helecho{
    height: 200px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.table-registers {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 76px;
    left: 20px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal > .container {
    display: inline-block;
    position: relative;
    min-width: 400px;
    min-height: 450px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2px;
}
.table-registers2 {
    display: inline-block;
    width: auto;
    position: relative;
    left: 40%;
    right: 50%;
    top: 250px;
}

